<body>
  <a href="/"> Home </a>
  <a href="/about">About</a>
  <a href="/hobbies">Hobbies</a>

  <h1>who am I</h1>
  <p>
    My name is Sahil and i build my first project using <a
      href="https://www.ceos3c.com">ceos3c.com</a
    >!
  </p></body
>
