b<body> 
    <a href="/">Home</a>
<a href="/about">About</a>
<a href="/hobbies">Hobbies</a>
<button  onclick ="alert('/hobbies')">Click me </button>
<h1>"My Hobbies"</h1>
<ul>
  <li>Playing chess</li>
  <li>Playing carrrom</li>
  <li>Playing khoko</li>
</ul>



</body>

